html {
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
}

body {
	background-color: rgb(51, 51, 51);
	color: rgb(255, 255, 255);
	font-family: Cambria;
}

header {
	position: fixed;
}

#logoHeader {
	user-select: none;
	-webkit-user-drag: none;
}

nav {
	position: fixed;
	width: 80%;
	margin-left: 10%;
	display: flex;
	justify-content: end;
	height: 25px;
}


#toggleArea {
	cursor: pointer;
	position: fixed;
	font-size: 25px;
}

#menu {
	position: relative;
	top: 45px;
	opacity: 0;
	transform: translateY(20px);
	pointer-events: none;
	transition: opacity 0.3s ease, transform 0.3s ease;
	background-color: rgba(73, 73, 73, 0.61);
	height: fit-content;
	padding: 2px 10px;
	border-radius: 8px;
}

#menu.visible {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.menuPoint {
	font-size: 14px;
}

.linkDesign {
	color: #fff;
	text-decoration: none;
	position: relative;
}

.linkDesign::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s ease;
}

.linkDesign:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

footer {
	text-align: center;
	margin-bottom: 50px;
}

#linkDesignImprint {
	font-size: 18px;
}


/* - Home - */

#mainHome {
	display: flex;
	justify-content: center;
}

#mainHomeDiv {
	width: 60%;
	margin-top: 10px;
}

p {
	font-family: Arial;
}

#paragraphMain {
	margin-top: 25px;
	font-size: 16.5px;
}

#wrapperContainerInfo {
	margin-top: 5%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.infoSheet {
	width: 40%;
	margin-bottom: 2%;
}

#infoSheetTips {
	margin-left: -25px;
	font-family: Arial;
}

#quoteOfTheDayParagraph {
	font-style: italic;
}

#quoteOfTheDayAuthor {
	font-style: normal;
}

#quoteOfTheDay::before {
	content: "„";
}

#quoteOfTheDay::after {
	content: "“ – ";
}