html {
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
}

body {
	background-color: rgb(51, 51, 51);
	color: rgb(255, 255, 255);
	font-family: Cambria;
}

header {
	position: fixed;
}

#logoHeader {
	user-select: none;
	-webkit-user-drag: none;
}

nav {
	position: fixed;
	width: 80%;
	margin-left: 10%;
	display: flex;
	justify-content: end;
	height: 25px;
}


#toggleArea {
	cursor: pointer;
	position: fixed;
	font-size: 25px;
}

#menu {
	position: relative;
	top: 45px;
	opacity: 0;
	transform: translateY(20px);
	pointer-events: none;
	transition: opacity 0.3s ease, transform 0.3s ease;
	background-color: rgba(73, 73, 73, 0.61);
	height: fit-content;
	padding: 2px 10px;
	border-radius: 8px;
}

#menu.visible {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

p {
	font-family: Arial;
}

.menuPoint {
	font-size: 14px;
}

.linkDesign {
	color: #fff;
	text-decoration: none;
	position: relative;
}

.linkDesign::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s ease;
}

.linkDesign:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

footer {
	position: fixed;
	top: 93.9%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#linkDesignImprint {
	font-size: 18px;
}

/* - Registieren - */

#mainRegister {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#registerContainer {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 60px;
	border-radius: 7.5%;
	border: 1px white solid;
}

.registerButtonContainer,
#registerButtonSumbitContainer {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

#registerButtonSumbitContainer {
	margin-top: 25px;
}

.registerButton,
#registerFormularSubmit {
	border-radius: 7px;
	border: none;
	padding: 2px 8px;
}

.registerButton:focus {
	outline: none;
}

.registerButton::placeholder {
	color: rgb(40, 40, 40);
}